# Visual Studio
.vs/
.vscode/

# Copilot & Indexing
FileContentIndex/
CopilotIndices/

# Node
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc


IntelliHire_AI/IntelliHireEnvironment/
.IntelliHire_AI/IntelliHireEnvironment/