# Visual Studio
.vs/
.vscode/

# Copilot & Indexing
FileContentIndex/
CopilotIndices/

# Node
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
.env
.env.*
venv/
.venv/

IntelliHire_AI/IntelliHireEnvironment/
.IntelliHire_AI/IntelliHireEnvironment/


IntelliHire_AI/app/qna_Model/
.IntelliHire_AI/app/qna_Model/


IntelliHire_AI/outputs/
.IntelliHire_AI/outputs/


IntelliHire_AI/uploads/
.IntelliHire_AI/uploads/


IntelliHire_AI/.resume_cache/
.IntelliHire_AI/.resume_cache/


IntelliHire.server/uploads/
.IntelliHire.server/uploads/
