langchain==0.3.27
langchain-core==0.3.76
langchain-google-genai==2.0.10
python-dotenv
langchain-community==0.3.29
PyMuPDF==1.26.7
tiktoken==0.11.0
faiss-cpu==1.12.0
langchain-text-splitters==0.3.11
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-generativeai==0.8.5